$black: #25272A;
$white: #E9F1DF;
$grey: #939BA3;
$primary-color: #F63E84;
$primary-color-dimmed: #DF43CD;
$secondary-color: #963BEC;
$secondary-color-dimmed: #CF3EF6;
$warning-color: #EC413B;
$success-color: #3EF64A;
$color-hint: #F7E957;
